@font-face {
    font-family: 'lilian';
    src: url('stuff/webfont.ttf') format('truetype');
}

body {
    background-color: #fff;
    color: #fff;
    font-family: 'lilian', sans-serif;
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center; /* vertical centering */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#stickman {
    display: block;
    height: 20px;
}

