@font-face {
    font-family: 'lilian';
    src: url('stuff/webfont.ttf') format('truetype');
}

body {
    background-color: #fff;
    color: #fff;
    font-family: 'lilian', sans-serif;
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'lilian', sans-serif;
    margin: 0;
    padding: 0;
}

#stickman {
    height: 20px;
    margin: auto;
    border: 0;
}
